@model IEnumerable<newproject.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>THONG TIN SINH VIEN</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-dark ">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Grade.GradeName)
        </th>
        <th scope="col"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td scope="col">
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td scope="col">
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td scope="col">
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td scope="col">
                @Html.DisplayFor(modelItem => item.Grade.GradeName)

            </td>
            <td scope="col">
                @*@Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |*@
                <a href="/Student/Edit?id=@item.StudentID">Edit</a>
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })

            </td>
        </tr>
    }

</table>

