@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<newproject.ViewModels.TestViewModel>

<h2>DANH SACH SINH VIEN</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<body>
    <div class="container-fluid border border-success ">
        <div class="row  border border-success bg-success text-white">
            <div class="col-md-3 ">StudentName</div>
            <div class="col-md-2">Age</div>
            <div class="col-md-2">Sex</div>
            <div class="col-md-2">GradeName</div>
            <div class="col-md-3">Action</div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row bg-light border border-success">
                <div class="col-md-3">@item.StudentName</div>
                <div class="col-md-2">@item.Age</div>
                <div class="col-md-2">@item.Sex</div>
                <div class="col-md-2">@item.GradeName</div>
                <div class="col-md-3">
                    <a href="/Student/Edit?id=@item.StudentID">Edit</a>
                    @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
                </div>
            </div>
        }
    </div>
</body>

<script src="~/Scripts/custom/test.js"></script>